snippet bain "int main(int argc, const char *argv[]) {"
int main(int argc, const char *argv[]) {
	${0}
	return 0;
}
endsnippet
snippet bainn "int main(void) {"
int main(void) {
	${0}
	return 0;
}
endsnippet
